@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'font-padrao';
  src: url('/public/font/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'font-bold';
  src: url('/public/font/Poppins/Poppins-Bold.ttf');
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: 'font-padrao', sans-serif;
  background-color: #f0f0f0;
}
